.header{
    background-color: #051505;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 220px;
    margin: 0 50px;
}
.header .logo img{
    width: 100%;
}
.header .navbar{
    display: flex;
    align-items: center;
}
.header .navbar ul{
    list-style-type: none;
    margin: 0;
}
.header .navbar ul li{
    padding: 24px 40px;
    display: inline-block;
}
.header .navbar ul li:last-child{
    padding-right: 50px;
}
.header .navbar ul .item a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1rem;
}